a {
  text-decoration: none !important;
  cursor: pointer !important;
}
.btnDefault {
  width: 10% !important;
  height: 39px !important;
  border-radius: 34px !important;
  cursor: pointer !important;
}

.h1Align {
  color: #000 !important;
  text-align: center;
  line-height: 1em;
}

.lib {
  font-weight: bolder !important;
  font-family: times new roman !important;
  font-size: 60px !important;
  letter-spacing: 0.04em !important;
}
.borderAlign {
  padding-top: 32px;
  border-bottom: 1px solid #000;
  width: 200px;
  height: 5px;
  left: 50%;
  margin-left: -0.8em;
}
.marginCls {
  padding: 265px;
}
.BorderS {
  transform-origin: center 0.5px;
  width: 23px;
  height: 0px;
  transform: rotate(270deg);
  border-bottom: 1px solid;
}
.lableH {
  font-family: times new roman;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 20px;
}
.divaligner {
  width: 49%;
  height: 550px;
  background-color: #f2f2f2;
  float: left;
  margin: 50px 0 5px 12px;
}
.lableSecH {
  font-family: times new roman;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 27px;
}
.spanR {
  color: #e2162f;
}
.sign {
  color: #e2162f;
  font-family: times new roman;
  font-size: 23px;
  letter-spacing: 0.03em;
}

.footer {
  font-size: 15px;
  font-family: times new roman;
  letter-spacing: 0.02em;
}
.signInner {
  color: #000;
  text-transform: capitalize;
  font-size: 19px;
  font-family: times new roman;
  font-weight: 500;
  cursor: pointer !important;
}

.signInner:hover {
  text-decoration: underline !important;
  color: #e2162f !important;
}

.signContainer {
  border: none;
  background-color: #f2f2f2;
}
.imgSet {
  height: 14px;
  padding-right: 10px;
  padding-left: 10px;
}
.outer {
  width: 100% !important;
  text-align: right !important;
}
.reader {
  width: 100% !important;
}
